{{define "content"}}

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <header class="header title">
                <h1 class="logotext has-text-weight-bold">metawat.ch</h1>
                <h2 class="subtitle has-text-centered"><span class="is-size-1">moon is not the limit anym</span><span
                        class="is-size-3">🌚</span><span class="is-size-1">re</span></h2>
            </header>
        </div>
    </div>
</section>

<style>
    .logotext {
        background-image: url(/img/abg.gif);
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-size: 123px;
    }
</style>

{{end}}