{{define "content"}}

<link href="/vendors/bulma-calendar/css/bulma-calendar.min.css" rel="stylesheet">
<script src="/vendors/bulma-calendar/js/bulma-calendar.min.js"></script>

<div class="section">
    <div class="container">
        <h1 class="title">Forging winners</h1>
        <h2 class="subtitle">{{.date}}</h2>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="card">
                    <div class="table-container">
                        <table class="table is-narrow is-hoverable is-fullwidth is-striped">
                            <thead>
                                <th>#</th>
                                <th>Rewards</th>
                                <th>Winner</th>
                                <th>TxHash</th>
                            </thead>
                            <tbody>
                                {{range $num, $o := .resultHistory}}
                                <tr>
                                    <td>
                                        {{ $num | inc }}
                                    </td>
                                    <td>
                                        <div
                                            class="tags has-addons {{ if eq $num 0 }}are-large{{else if lt $num 5}} are-medium {{end}}">
                                            <span class="tag is-success">
                                                {{.Value | balance}}
                                            </span>
                                            <span class="tag">
                                                {{ if eq $num 0 }}MAX{{else}}win{{end}}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="is-family-monospace">
                                        <a href="/address/{{.To}}/forging">{{.To | hashtrim}}</a>
                                    </td>
                                    <td class="is-family-monospace">
                                        <a href="/txs/{{.Transaction}}">{{.Transaction | hashtrim}}</a>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="4" class="has-text-centered">
                                        <section class="hero">
                                            <div class="hero-body">
                                                <h6 class="title">
                                                    Empty
                                                </h6>
                                            </div>
                                        </section>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <input type="date" value="{{.date}}">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const options = {
        type: "date",
        dateFormat: "YYYY-MM-DD",
        displayMode: "inline",
        showHeader: false,
        showClearButton: false,
        enableYearSwitch: false,
        // maxDate: "2019-04-07",
        weekStart: 1,
    };
    const calendars = bulmaCalendar.attach('[type="date"]', options);

    // Loop on each calendar initialized
    for (var i = 0; i < calendars.length; i++) {
        // Add listener to date:selected event
        calendars[i].on('select', datepicker => {
            console.log(datepicker.data.value());
            document.location = "/forging/" + datepicker.data.value();
        });
    }
</script>

{{end}}