{{define "addressheader"}}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-1 ">
                <figure class="image is-64x64 is-pulled-right">
                    <img src="https://icons.metahash.io/{{.address}}">
                </figure>
            </div>
            <div class="column">
                <h1 class="title">{{.title}}</h1>
                <h2 class="subtitle">{{.address}}</h2>
            </div>
        </div>
    </div>
</div>
{{end}}